<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bullet_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,10}</string>
                <key>spriteSourceSize</key>
                <string>{10,10}</string>
                <key>textureRect</key>
                <string>{{248,240},{10,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>colorLight.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,102}</string>
                <key>spriteSourceSize</key>
                <string>{102,102}</string>
                <key>textureRect</key>
                <string>{{1312,142},{102,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,82}</string>
                <key>spriteSourceSize</key>
                <string>{55,82}</string>
                <key>textureRect</key>
                <string>{{1189,165},{55,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_bullet_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,26}</string>
                <key>spriteSourceSize</key>
                <string>{12,26}</string>
                <key>textureRect</key>
                <string>{{487,238},{12,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>game_map_tile_cover0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{724,187},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_map_tile_cover1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{790,187},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_map_tile_cover2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{925,173},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_map_tile_cover3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{991,173},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_map_tile_dirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1057,171},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_map_tile_grass.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1123,171},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_map_tile_rock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1246,165},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1403,1},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1416,103},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>joystick_attack.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,139}</string>
                <key>spriteSourceSize</key>
                <string>{139,139}</string>
                <key>textureRect</key>
                <string>{{1262,1},{139,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>joystick_attack_bk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{237,237}</string>
                <key>spriteSourceSize</key>
                <string>{239,239}</string>
                <key>textureRect</key>
                <string>{{248,1},{237,237}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>joystick_attack_disable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,245}</string>
                <key>spriteSourceSize</key>
                <string>{245,245}</string>
                <key>textureRect</key>
                <string>{{1,1},{245,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>joystick_large.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,235}</string>
                <key>spriteSourceSize</key>
                <string>{235,235}</string>
                <key>textureRect</key>
                <string>{{487,1},{235,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>joystick_small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,67}</string>
                <key>spriteSourceSize</key>
                <string>{67,67}</string>
                <key>textureRect</key>
                <string>{{856,183},{67,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>man_run_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,-54}</string>
                <key>spriteSize</key>
                <string>{114,162}</string>
                <key>spriteSourceSize</key>
                <string>{160,270}</string>
                <key>textureRect</key>
                <string>{{1146,1},{114,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>man_run_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,-50}</string>
                <key>spriteSize</key>
                <string>{104,170}</string>
                <key>spriteSourceSize</key>
                <string>{160,270}</string>
                <key>textureRect</key>
                <string>{{908,1},{104,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>man_run_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{1,-43}</string>
                <key>spriteSize</key>
                <string>{98,184}</string>
                <key>spriteSourceSize</key>
                <string>{160,270}</string>
                <key>textureRect</key>
                <string>{{724,1},{98,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>man_run_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,-51}</string>
                <key>spriteSize</key>
                <string>{130,168}</string>
                <key>spriteSourceSize</key>
                <string>{160,270}</string>
                <key>textureRect</key>
                <string>{{1014,1},{130,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>man_stay.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,-45}</string>
                <key>spriteSize</key>
                <string>{82,180}</string>
                <key>spriteSourceSize</key>
                <string>{160,270}</string>
                <key>textureRect</key>
                <string>{{824,1},{82,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>particle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{5,5}</string>
                <key>spriteSourceSize</key>
                <string>{5,5}</string>
                <key>textureRect</key>
                <string>{{260,240},{5,5}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>physicsShow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1505,1},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>test.png</string>
            <key>size</key>
            <string>{1570,252}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dab550e69f97fb452f0aeec3caca12ac:6f191cf1e080a77221ad4e15f84ad735:96fb3d46aab20ec9eb9704de1ab972b6$</string>
            <key>textureFileName</key>
            <string>test.png</string>
        </dict>
    </dict>
</plist>
