<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bullet_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,10}</string>
                <key>spriteSourceSize</key>
                <string>{10,10}</string>
                <key>textureRect</key>
                <string>{{826,226},{10,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>colorLight.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,102}</string>
                <key>spriteSourceSize</key>
                <string>{102,102}</string>
                <key>textureRect</key>
                <string>{{865,1},{102,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,82}</string>
                <key>spriteSourceSize</key>
                <string>{55,82}</string>
                <key>textureRect</key>
                <string>{{826,142},{55,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_bullet_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,26}</string>
                <key>spriteSourceSize</key>
                <string>{12,26}</string>
                <key>textureRect</key>
                <string>{{865,105},{12,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_map_tile_dirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{883,174},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_map_tile_grass.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{952,105},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_map_tile_rock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{949,174},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{969,1},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{724,142},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>joystick_attack.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,139}</string>
                <key>spriteSourceSize</key>
                <string>{139,139}</string>
                <key>textureRect</key>
                <string>{{724,1},{139,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>joystick_attack_bk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{237,237}</string>
                <key>spriteSourceSize</key>
                <string>{239,239}</string>
                <key>textureRect</key>
                <string>{{248,1},{237,237}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>joystick_attack_disable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,245}</string>
                <key>spriteSourceSize</key>
                <string>{245,245}</string>
                <key>textureRect</key>
                <string>{{1,1},{245,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>joystick_large.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,235}</string>
                <key>spriteSourceSize</key>
                <string>{235,235}</string>
                <key>textureRect</key>
                <string>{{487,1},{235,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>joystick_small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,67}</string>
                <key>spriteSourceSize</key>
                <string>{67,67}</string>
                <key>textureRect</key>
                <string>{{883,105},{67,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>physicsShow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1015,171},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>test.png</string>
            <key>size</key>
            <string>{1080,247}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8a5e4deed82b6ba7d56205886dff0208:b380650f21a5c8d71d71d0dd349cd0a3:96fb3d46aab20ec9eb9704de1ab972b6$</string>
            <key>textureFileName</key>
            <string>test.png</string>
        </dict>
    </dict>
</plist>
